.highlight {
    border: 1px dashed #6699cc;
    padding: 0;
}

.highlight>pre {
    padding: 1rem;
}

/* Remove margin if code is the only element in card */
.card > .highlight,
.card-body > .highlight {
    margin: 0;
}

body {
    font-family: "BPG Ingiri Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6, .nav-item {
    font-family: "BPG Nino Medium Caps", sans-serif;
}